<div class="container-fluid">
  <div class="table-actions">
    <div class="page-title">
      <h3>
        User Templates
      </h3>
    </div>
    <button nz-button
            (click)="addLayout()"
            nzType="primary">Add Layout</button>
  </div>
  <div class="table">
    <nz-table #basicTable
              [nzData]="contentTrees">
      <thead>
        <tr>
          <th>Template Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.label}}</td>
          <td>{{data.description}}</td>
          <td>
            <a (click)="goToContentEditor(data.id)">Update</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>