{{contentTree | json}}
<ng-container *ngIf="contentTree">
  <!-- Main layout -->
  <div class="layout">
    <div class="content-tree-layout">
      <div class="rendered-content-tree">
        <ng-container *ngTemplateOutlet="
                         layoutTemplate;
                         context: { content: initialContentTree,hasChildren:hasChildren(initialContentTree.id) }">
        </ng-container>
      </div>
    </div>
    <div class="settings">
      <app-content-tree-item-settings *ngIf="activeContentTreeItem"
                                      [contentTreeItem]="activeContentTreeItem"
                                      (contentSaved)="updateInputs()"></app-content-tree-item-settings>
    </div>
  </div>
</ng-container>

<ng-template #layoutTemplate
             let-content="content">
  <div [ngClass]="[
    !hasChildren(content.id) ? 'empty-container' : 'filled-container',
    content.id === hoveredId ? 'hover' : 'not-hover',
    content.id === '0' ? 'rendered-content-tree': '',
    content.id === activeContentTreeItem?.id ? 'active' : ''
    ]"
       class="container"
       #container
       [id]="content.id"
       (mouseenter)="onHover(content.id)"
       (mouseleave)="onHover()"
       (click)="onContainerClick($event,content.id)">
    <div *ngIf="hoveredId === content.id"
         class="toolbar">
      <div class="toolbar-button">
        <a (click)="openSelectModal(content.id)">
          Add
        </a>
      </div>
      <div *ngIf="content.id !== '0'"
           class="toolbar-button">
        <a (click)="deleteContainer(content.id)">
          Delete
        </a>
      </div>
    </div>
    <ng-container *ngIf="hasChildren(content.id); else emptyContainer">
      <ng-container *ngFor="let child of findChildrenTree(content.id); trackBy: trackBy">
        <ng-container *ngIf="child.type === ContentTreeItemType.Container; else comTmpl">
          <ng-container *ngTemplateOutlet="
                       layoutTemplate;
                       context: { content:child}">
          </ng-container>
        </ng-container>
        <ng-template #comTmpl>
          <ng-container *ngTemplateOutlet="
                        componentTemplate;
                        context: { content: child }">
          </ng-container>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #emptyContainer>
      <div class="empty-add">
        This container is empty. Click &nbsp;<a (click)="onAddContainerClick(content.id)">here</a>&nbsp; to add
        container,
        or click
        &nbsp; <a (click)="onAddComponentToContainerClick(content.id)">here</a>&nbsp;
        to add component.
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #componentTemplate
             let-content="content">
  <div class="component-container"
       [ngClass]="content.id === activeContentTreeItem?.id ? 'active' : ''"
       (mouseenter)="onHover(content.id)"
       (mouseLeave)="onHover()"
       (click)="setActiveComponent($event,content.id)">
    <div #componentContainer
         [id]="content.id">
    </div>
  </div>
</ng-template>

<nz-modal [(nzVisible)]="addComponentModalVisible"
          nzTitle="Add Component"
          (nzOnCancel)="cancelAddComponent()"
          nzOkText="Add Component"
          (nzOnOk)="onAddComponentToContainer()">
  <ng-container *nzModalContent>
    <div class="components">
      <nz-checkbox-group [(ngModel)]="componentSelectOptions"></nz-checkbox-group>
    </div>
    <div *ngIf="showRequiredError">
      You must select at least one component
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="addComponentOrContainerModalVisibility"
          nzTitle="Please Select"
          (nzOnCancel)="addComponentOrContainerModalVisibility = false"
          [nzFooter]="footerTmpl">
  <ng-container *nzModalContent>
  </ng-container>
  <ng-template #footerTmpl>
    <button nz-button
            nzType="primary"
            (click)="onAddComponentToContainerClick(addContainerId)">Add Component</button>
    <button nz-button
            nzType="primary"
            (click)="onAddContainerClick(addContainerId)">Add Container</button>
  </ng-template>
</nz-modal>