<ng-container *ngIf="contentTree">
  <!-- Main layout -->
  <div class="rendered-content-tree">
    <ng-container *ngTemplateOutlet="
                       layoutTemplate;
                       context: { content: initialContentTree,hasChildren:hasChildren(initialContentTree.id) }">
    </ng-container>
  </div>
</ng-container>

<ng-template #layoutTemplate
             let-content="content">
  <div [ngClass]="!hasChildren(content.id) ? 'empty-container' : 'filled-container'"
       class="container">
    <ng-container *ngIf="hasChildren(content.id); else emptyContainer">
      <ng-container *ngFor="let child of findChildrenTree(content.id); trackBy: trackBy">
        <ng-container *ngIf="child.type === ContentTreeItemType.Container; else comTmpl">
          <ng-container *ngTemplateOutlet="
                       layoutTemplate;
                       context: { content:child}">
          </ng-container>
        </ng-container>
        <ng-template #comTmpl>
          <ng-container *ngTemplateOutlet="
                        componentTemplate;
                        context: { content: child }">
          </ng-container>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #emptyContainer>
      This container is empty. Click <a (click)="onAddContainerClick(content.id)">here</a> to add container, or click <a
         (click)="onAddComponentToContainerClick(content.id)">here</a>
      to add component.
    </ng-template>
  </div>
</ng-template>

<ng-template #componentTemplate
             let-content="content">
  <div #componentContainer
       [id]="content?.id">
  </div>
</ng-template>

<nz-modal [(nzVisible)]="addComponentModalVisible"
          nzTitle="Add Component"
          (nzOnCancel)="cancelAddComponent()"
          nzOkText="Add Component"
          (nzOnOk)="onAddComponentToContainer()">
  <ng-container *nzModalContent>
    <div class="components">
      <nz-checkbox-group [(ngModel)]="componentSelectOptions"></nz-checkbox-group>
    </div>
    <div *ngIf="showRequiredError">
      You must select at least one component
    </div>
  </ng-container>
</nz-modal>